  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="deletelcsdForm" (ngSubmit)="onSubmit(deletelcsdForm.value)">
              <div class="form-group row">
                <div class="col-md-10">

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['District_en'].valid">
                        <label for="District_en">District_en</label>
                        <input type="text" id="District_en" placeholder="" class="form-control" formControlName="District_en" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['District_cn'].valid">
                        <label for="District_cn">District_cn</label>
                        <input type="text" id="District_cn" placeholder="" class="form-control" formControlName="District_cn" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Name_en'].valid">
                        <label for="Name_en">Name_en</label>
                        <input type="text" id="Name_en" placeholder="" class="form-control" formControlName="Name_en" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Name_cn'].valid">
                        <label for="Name_cn">Name_cn</label>
                        <input type="text" id="Name_cn" placeholder="" class="form-control" formControlName="Name_cn" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Address_en'].valid">
                        <label for="Address_en">Address_en</label>
                        <input type="text" id="Address_en" placeholder="" class="form-control" formControlName="Address_en" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Address_cn'].valid">
                        <label for="Address_cn">Address_cn</label>
                        <input type="text" id="Address_cn" placeholder="" class="form-control" formControlName="Address_cn" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['GIHS'].valid">
                        <label for="GIHS">GIHS</label>
                        <input type="text" id="GIHS" placeholder="" class="form-control" formControlName="GIHS" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Court_no_en'].valid">
                        <label for="Court_no_en">Court_no_en</label>
                        <input type="text" id="Court_no_en" placeholder="" class="form-control" formControlName="Court_no_en" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Court_no_cn'].valid">
                        <label for="Court_no_cn">Court_no_cn</label>
                        <input type="text" id="Court_no_cn" placeholder="" class="form-control" formControlName="Court_no_cn" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Ancillary_facilities_en'].valid">
                        <label for="Ancillary_facilities_en">Ancillary_facilities_en</label>
                        <input type="text" id="Ancillary_facilities_en" placeholder="" class="form-control" formControlName="Ancillary_facilities_en" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Ancillary_facilities_cn'].valid">
                        <label for="Ancillary_facilities_cn">Ancillary_facilities_cn</label>
                        <input type="text" id="Ancillary_facilities_cn" placeholder="" class="form-control" formControlName="Ancillary_facilities_cn" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Opening_hours_en'].valid">
                        <label for="Opening_hours_en">Opening_hours_en</label>
                        <input type="text" id="Opening_hours_en" placeholder="" class="form-control" formControlName="Opening_hours_en" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Opening_hours_cn'].valid">
                        <label for="Opening_hours_cn">Opening_hours_cn</label>
                        <input type="text" id="Opening_hours_cn" placeholder="" class="form-control" formControlName="Opening_hours_cn" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Phone'].valid">
                        <label for="Phone">Phone</label>
                        <input type="text" id="Phone" placeholder="" class="form-control" formControlName="Phone" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Remarks_en'].valid">
                        <label for="Remarks_en">Remarks_en</label>
                        <input type="text" id="Remarks_en" placeholder="" class="form-control" formControlName="Remarks_en" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Remarks_cn'].valid">
                        <label for="Remarks_cn">Remarks_cn</label>
                        <input type="text" id="Remarks_cn" placeholder="" class="form-control" formControlName="Remarks_cn" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Longitude'].valid">
                        <label for="Longitude">Longitude</label>
                        <input type="text" id="Longitude" placeholder="" class="form-control" formControlName="Longitude" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="field" [class.error]="!deletelcsdForm.controls['Latitude'].valid">
                        <label for="Latitude">Latitude</label>
                        <input type="text" id="Latitude" placeholder="" class="form-control" formControlName="Latitude" readonly>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngFor="let lcsd of serverDataArr">
                <tr *ngIf="lcsd.msg === 'Error'">
                  <p style='color:red;'>
                    Type: {{lcsd.msg}} <br>
                    Error Code: {{lcsd.Code}} <br>
                    Error Message: {{lcsd.Message}}
                  </p>
                </tr>
              </ng-container>
              <ng-container *ngFor="let lcsd of serverDataArr">
                <tr *ngIf="lcsd.msg === 'Record successful deleted'">
                  <p style='color:green;'>
                    {{lcsd.msg}}
                  </p>
                </tr>
              </ng-container>
              <div class="modal-footer">
                <button type="submit" class="positive ui button">Submit</button>
                <button class="negative ui button" data-bs-dismiss="modal" id="close_delete"
                (click)="canceldeleteButtonHandler()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>
